.back{

    background-image: url("images/CO.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: -30px;
    

}




.block
{   
    margin-top: 0px;
    background-color:#de7600;
    min-height: 150px;
    padding: 15px 10px 20px 100px;
    
}

.block h1{
     font-size: 40px;
    
    }

.block button{
    background-color: #f0f2f2;
    color: black;
    
    min-width: 100px;
    margin-top:10px ;
    border-style: none;
    
    border : 2px solid grey;
    border-radius: 1px;


}

.block button:hover{
    color: white;
    background-color: #de7600;
    border : 2px solid white; 


}

.block span{
    color : white;
    padding-top:-100px;

    
   

}

.detail{

margin-top: 0px;
padding-top: 60px;
background-color: #f9f9f9;


}

.pay{
   
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 15px;
}

.join{

    margin-bottom: 50px;
    font-size: 15px;
}

.footer{

background-color: #de7600;
height: 20px;
margin-bottom: 10px;
color: white;
font-size: 10px;
text-align: center;
}

@media only screen and (max-width:576px){
    .block h1{
        font-size: 28px;
       
        margin-left: -70px;
    }
    #solo{
        font-size: 15px;
        margin-left: -70px;
    }
    .block button{

        margin-left: -70px;
    }
    .back
    {
        background-image: url("images/1.jpg");
    }    


    }
}