@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }


.back{
    background-image: url("images/CO.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 78vh;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
}

.block
{   color: white;
    margin-top: 0px;
    background-color:#de7600;
    min-height: 10vh;
    padding: 15px 10px 20px 100px;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(50,50,50,1) 90%);
    border-radius: 2px 3px 20px 20px;

}

.block h1{
     font-size: calc(25px + 0.5vw);  
}

.block button{
    background: rgb(253,187,45);
    background: linear-gradient(80deg, rgba(253,187,45,1) 94%, rgba(50,50,50,1) 96%);
    color: black;   
    margin-top:10px ;
    border-style: none;  
    border : 2px solid grey;
    border-radius: 1px;
}

.block button:hover{
    color: white;
    background-color: #de7600;
    border : 2px solid white; 
    border-radius: 2px 3px 10px 10px;
}

.block span{
    color : white;
    padding-top:-100px;
}

.detail{
    margin-top: 0px;
    padding-top: 60px;
    background-color: #f9f9f9;
}

.pay{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: calc(10px + 0.5vw);
}

.join{
    margin-bottom: 50px;
    font-size: calc(10px + 0.5vw);
}

.footer{
    background-color: #de7600;
    height: 17px;
    margin-bottom: 10px;
    color: white;
    font-size: 10px;
    text-align: center;
    background: rgb(50,50,50);
    background: radial-gradient(circle, rgba(50,50,50,1) 50%, rgba(253,187,45,1) 100%);
    border-radius: 80px 80px 2px 3px;


}

#solo 
{
    font-size: calc(10px + 0.5vw);

}

#but 
{
    font-size: calc(10px + 0.5vw);

}

@media only screen and (max-width:576px)
{
    .block h1{   
      
        margin-left: -70px;
    }
    #solo{
      
        margin-left: -70px;
    }
    .block button{
        margin-left: -70px;
    }
    .back
    {
        background-image: url("images/iphone.jpg");
        background-size: cover;
    }    
}



@media only screen and (max-width:768px){
    .block h1{   
      
        margin-left: -70px;
    }
    #solo{
      
        margin-left: -70px;
    }
    .block button{
        margin-left: -70px;
    }
    .back
    {
        background-size: 50% 50%;
        background-size: cover;
    }    

}



@media only screen and (max-width:377px ){
    .block h1{   
      
        margin-left: -70px;
    }
    #solo{
      
        margin-left: -70px;
    }
    .block button{
        margin-left: -70px;
    }
    .back
    {  
        background-image: url("images/iphone.jpg");
        background-size: cover;
        
    }    
}


 

