.back{

    background-image: url("1.jpg");
    min-height: 600px;
    background-position: fixed;
    background-repeat: no-repeat;
}

.block
{   
    margin-top: -80px;
    background-color:#de7600;
    min-height: 150px;
    padding: 15px 10px 20px 100px;
    
}

.block h1{
     font-size: 40px;
    
    }

.block button{
    background-color: #de7600;
    color: white;
    
    min-width: 100px;
    margin-top:10px ;
    border-style: groove;
    
    box-shadow: 1px 1px 20px 1px white;
    border-radius: 4px;


}

.block span{
    color : white;
    margin-top:-100px;

    
   

}

.detail{

margin-top: 50px;
background-color: #f9f9f9;


}